<h1><%=h @user.username %></h1>
<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit profile', edit_user_path(:current) %>
  <% end %>
<% end %>
